{% extends 'base.html' %} {% block container %}

<h1>Welcome to your To-do List Collection</h1>
<hr>

<h2>Welcome back!</h2>
<p>Please submit the form to login.</p>
<hr>

<p class="error">Invalid username or password</p>

<form method="POST" action="{{ url_for('process_login') }}">

    <label for="user"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="us" required>


    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <div id="buttons">
        <button type="submit" class="login-btn">Login</button>
        <button><a href="{{ url_for('signup')}}">Sign Up instead</a></button>
    </div>
</form>

<script> 
    if ( '{{ error }}' == '1' ) {
        document.getElementsByClassName("error")[0].style.display = "block";
    }

    else {
        document.getElementsByClassName("error")[0].style.display = "none";
    }
</script>

{% endblock %}