{% extends 'base.html' %}
{% block container %}

    <h1> All To-Do's</h1>

    <hr>

    <h2 class="title"> To-Do List Name </h2>

    <div class="toDoItem">

        <img class='checkbox' src="static/images/blank-check-box.png" alt="" width="20px" height="20px">

        <div class="innerText">

            <span class="todoText"> Text of To Do goes here  Due on : <span id="date"> 1/1/1111 </span></span>
                       
        </div>

    </div>

    <br><br>

    <div class="toDoItem">

        <img class='checkbox' src="static/images/blank-check-box.png" alt="" width="20px" height="20px">


        <div class="innerText">

            <span class="todoText"> Text of To Do goes here  Due on : <span id="date"> 1/1/1111 </span></span>
            
        </div>

        <hr>

    </div>

    <br><br>

    <div class="toDoItem">

        <img class='checkbox' src="static/images/blank-check-box.png" alt="" width="20px" height="20px">


        <div class="innerText">

            <span class="todoText"> Text of To Do goes here  Due on : <span id="date"> 1/1/1111 </span></span>
   
        </div>

        <hr>

    </div>

    <br><br><br>

    <h2 class="title"> To-Do List #2 </h2>

    <div class="toDoItem">

        <img class='checkbox' src="static/images/blank-check-box.png" alt="" width="20px" height="20px">


        <div class="innerText">

            <span class="todoText"> Text of To Do goes here  Due on : <span id="date"> 11/01/2022 </span></span>

        </div>

    </div>

    <br><br>

    <div class="toDoItem">

        <img class='checkbox' src="static/images/blank-check-box.png" alt="" width="20px" height="20px">


        <div class="innerText">

            <span class="todoText"> Text of To Do goes here  Due on : <span id="date"> 1/1/1111 </span></span>
            
        </div>

        <hr>

    </div>

    <br><br>

    <div class="toDoItem">

        <img class='checkbox' src="static/images/blank-check-box.png" alt="" width="20px" height="20px">


        <div class="innerText">

            <span class="todoText"> Text of To Do goes here  Due on : <span id="date"> 1/1/1111 </span></span>

        </div>

        <hr>

    </div>

{% endblock %}


        

        

        
        


      